*{box-sizing: border-box;}

html, body {
	margin:0;
	padding:0;
	min-height:100%;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1vw;
	line-height: 24px;
	scroll-behavior: smooth;
	height: 100%;
}


h1, h2, h3, h4, h5, h6 {
	margin:0;
	font-family: 'Playfair Display', serif;
	line-height: 1.25em;
}

 
p{
   font-size: 1em;
   line-height: 1.35em;
}


h1 {
   font-size: 2.2em;
}
 
h2 {
   font-size: 1.8em;
}

h3 {
   font-size: 1.6em;
}

h4 {
   font-size: 1.3em;
}

h5 {
   font-size: 1.2em;
}

h6 {
   font-size: 1em;
}


a {
	color:#64cdb3;
	text-decoration:none;
	transition:0.8s;
	-webkit-transition:0.8s;
	-moz-transition:0.8s;
	-o-transition:0.8s;
}

a:hover {
	color:#12e8b3;
}


::-moz-selection { background: #4d85c5; color: #fff; }
::selection { background: #4d85c5; color: #fff; }


.row[data-spacing="1"]{margin: 0 -1px;}
.row[data-spacing="2"]{margin: 0 -2px;}
.row[data-spacing="3"]{margin: 0 -3px;}
.row[data-spacing="4"]{margin: 0 -4px;}
.row[data-spacing="5"]{margin: 0 -5px;}
.row[data-spacing="6"]{margin: 0 -6px;}
.row[data-spacing="7"]{margin: 0 -7px;}
.row[data-spacing="8"]{margin: 0 -8px;}
.row[data-spacing="9"]{margin: 0 -9px;}
.row[data-spacing="10"]{margin: 0 -10px;}
.row[data-spacing="15"]{margin: 0 -15px;}
.row[data-spacing="20"]{margin: 0 -20px;}
.row[data-spacing="30"]{margin: 0 -30px;}
.row[data-spacing="40"]{margin: 0 -40px;}
.row[data-spacing="50"]{margin: 0 -50px;}


.row[data-spacing="1"] > *[class^="colw-"]{padding: 1px;}
.row[data-spacing="2"] > *[class^="colw-"]{padding: 2px;}
.row[data-spacing="3"] > *[class^="colw-"]{padding: 3px;}
.row[data-spacing="4"] > *[class^="colw-"]{padding: 4px;}
.row[data-spacing="5"] > *[class^="colw-"]{padding: 5px;}
.row[data-spacing="6"] > *[class^="colw-"]{padding: 6px;}
.row[data-spacing="7"] > *[class^="colw-"]{padding: 7px;}
.row[data-spacing="8"] > *[class^="colw-"]{padding: 8px;}
.row[data-spacing="9"] > *[class^="colw-"]{padding: 9px;}
.row[data-spacing="10"] > *[class^="colw-"]{padding: 10px;}
.row[data-spacing="20"] > *[class^="colw-"]{padding: 20px;}
.row[data-spacing="30"] > *[class^="colw-"]{padding: 30px;}
.row[data-spacing="40"] > *[class^="colw-"]{padding: 40px;}
.row[data-spacing="50"] > *[class^="colw-"]{padding: 50px;}


.colw-5{width:5%}
.colw-10{width:10%}
.colw-15{width:15%}
.colw-16{width:16.666%}
.colw-20{width:20%}
.colw-25{width:25%}
.colw-30{width:30%}
.colw-33{width:33.333%}
.colw-35{width:35%}
.colw-40{width:40%}
.colw-45{width:45%}
.colw-50{width:50%}
.colw-55{width:55%}
.colw-60{width:60%}
.colw-65{width:65%}
.colw-66{width:66.666%}
.colw-70{width:70%}
.colw-75{width:75%}
.colw-80{width:80%}
.colw-85{width:85%}
.colw-90{width:90%}
.colw-95{width:95%}
.colw-100{width:100%}

.pad-1{padding:1px}
.pad-2{padding:2px}
.pad-3{padding:3px}
.pad-4{padding:4px}
.pad-5{padding:5px}
.pad-10{padding:10px}
.pad-15{padding:15px}
.pad-20{padding:20px}
.pad-25{padding:25px}
.pad-30{padding:30px}
.pad-35{padding:35px}
.pad-40{padding:40px}
.pad-45{padding:45px}
.pad-50{padding:50px}
.pad-55{padding:55px}
.pad-60{padding:60px}
.pad-65{padding:65px}
.pad-70{padding:70px}
.pad-75{padding:75px}
.pad-80{padding:80px}
.pad-85{padding:85px}
.pad-90{padding:90px}
.pad-95{padding:95px}
.pad-100{padding:100px}

.pad-lr-1{padding-left:1px;padding-right:1px;}
.pad-lr-2{padding-left:2px;padding-right:2px;}
.pad-lr-3{padding-left:3px;padding-right:3px;}
.pad-lr-4{padding-left:4px;padding-right:4px;}
.pad-lr-5{padding-left:5px;padding-right:5px;}
.pad-lr-10{padding-left:10px;padding-right:10px;}
.pad-lr-15{padding-left:15px;padding-right:15px;}
.pad-lr-20{padding-left:20px;padding-right:20px;}
.pad-lr-25{padding-left:25px;padding-right:25px;}
.pad-lr-30{padding-left:30px;padding-right:30px;}
.pad-lr-35{padding-left:35px;padding-right:35px;}
.pad-lr-40{padding-left:40px;padding-right:40px;}
.pad-lr-45{padding-left:45px;padding-right:45px;}
.pad-lr-50{padding-left:50px;padding-right:50px;}
.pad-lr-55{padding-left:55px;padding-right:55px;}
.pad-lr-60{padding-left:60px;padding-right:60px;}
.pad-lr-65{padding-left:65px;padding-right:65px;}
.pad-lr-70{padding-left:70px;padding-right:70px;}
.pad-lr-75{padding-left:75px;padding-right:75px;}
.pad-lr-80{padding-left:80px;padding-right:80px;}
.pad-lr-85{padding-left:85px;padding-right:85px;}
.pad-lr-90{padding-left:90px;padding-right:90px;}
.pad-lr-95{padding-left:95px;padding-right:95px;}
.pad-lr-100{padding-left:100px;padding-right:100px;}

.pad-tb-1{padding-top:1px;padding-bottom:1px;}
.pad-lr-2{padding-top:2px;padding-bottom:2px;}
.pad-lr-3{padding-top:3px;padding-bottom:3px;}
.pad-lr-4{padding-top:4px;padding-bottom:4px;}
.pad-tb-5{padding-top:5px;padding-bottom:5px;}
.pad-tb-10{padding-top:10px;padding-bottom:10px;}
.pad-tb-15{padding-top:15px;padding-bottom:15px;}
.pad-tb-20{padding-top:20px;padding-bottom:20px;}
.pad-tb-25{padding-top:25px;padding-bottom:25px;}
.pad-tb-30{padding-top:30px;padding-bottom:30px;}
.pad-tb-35{padding-top:35px;padding-bottom:35px;}
.pad-tb-40{padding-top:40px;padding-bottom:40px;}
.pad-tb-45{padding-top:45px;padding-bottom:45px;}
.pad-tb-50{padding-top:50px;padding-bottom:50px;}
.pad-tb-55{padding-top:55px;padding-bottom:55px;}
.pad-tb-60{padding-top:60px;padding-bottom:60px;}
.pad-tb-65{padding-top:65px;padding-bottom:65px;}
.pad-tb-70{padding-top:70px;padding-bottom:70px;}
.pad-tb-75{padding-top:75px;padding-bottom:75px;}
.pad-tb-80{padding-top:80px;padding-bottom:80px;}
.pad-tb-85{padding-top:85px;padding-bottom:85px;}
.pad-tb-90{padding-top:90px;padding-bottom:90px;}
.pad-tb-95{padding-top:95px;padding-bottom:95px;}
.pad-tb-100{padding-top:100px;padding-bottom:100px;}

.flex{display: flex}
.flex.fw{width: 100%}
.flex.fh{height: 100%}

.flex.ai-c{align-items: center;}
.flex.ai-s{align-items: stretch;}
.flex.ai-sb{align-items: space-between}

.flex.jc-sb{justify-content: space-between;}
.flex.fd-c{flex-direction: column;}

.flex > div.as-s{align-self: start;}
.flex > div.as-c{align-self: center;}
.flex > div.as-b{align-self: baseline;}

.photobg{
	background-image: url(../img/pp.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
}

.skills{background: #f0f0f0;}
.exp{background: #e2e2e2;}
.cl{background: #cecece;}

.stars{
	position: relative;
	padding-right: 30px;
}

.stars:before{
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: 2px;
	transform: translate(0,-50%);
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 8px solid #a3a3a3;
	content: "";
}

div[ data-evo="increase"] .stars:before{
	transform: translate(0,-50%) rotate(-90deg);
	border-left: 8px solid #1dc01d;
}

div[ data-evo="decrease"] .stars:before{
	transform: translate(0,-50%) rotate(90deg);
	border-left: 8px solid #e01b1b;
}

.icon-star{
	display: inline-block;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 20px;
	color: #64cdb3;
	font-size: 15px;
	vertical-align: middle;
	position: relative;
}

.icon-star:before{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	content: "★";
}

div[data-lvl="4"] .stars > span.icon-star:nth-child(n+5){
	color: #000;
}

div[data-lvl="3"] .stars > span.icon-star:nth-child(n+4){
	color: #000;
}

div[data-lvl="2"] .stars > span.icon-star:nth-child(n+3){
	color: #000;
}

div[data-lvl="1"] .stars > span.icon-star:nth-child(n+2){
	color: #000;
}


.skillslist{
	height: 225px;
	flex-wrap:wrap;
}


.skillslist > div > div{
	background: #fff;
}

.title{
	position: relative;
	margin-bottom: 20px;
	z-index: 10;
}

.title:before{
	width: 80px;
	height: 100%;
	padding: 5px;
	box-sizing: initial;
	background: #64cdb3;
	position: absolute;
	top: -5px;
	left: -5px;
	z-index: -1;
	content: "";
}

.smaller{
	font-size: .85rem;
	line-height: 1.2em;
}


@media all and (max-width: 1670px){

	.pad-35{
		padding: 20px
	}

	.exp div.row[data-spacing="20"]{
		margin-left: -10px;
		margin-right: -10px; 
	}

	.exp div.row[data-spacing="20"] > div[class^="colw-"]{
		padding: 10px;
		padding: 10px; 
	}
}

@media all and (max-width: 960px){
	*[class^=colw-].res-m-100{width:100%;}
	*[class^=colw-].res-m-90{width:90%;}
	*[class^=colw-].res-m-80{width:80%;}
	*[class^=colw-].res-m-70{width:70%;}
	*[class^=colw-].res-m-66{width:66.666%;}
	*[class^=colw-].res-m-60{width:60%;}
	*[class^=colw-].res-m-50{width:50%;}
	*[class^=colw-].res-m-40{width:40%;}
	*[class^=colw-].res-m-33{width:33.333%;}
	*[class^=colw-].res-m-30{width:30%;}
	*[class^=colw-].res-m-25{width:25%;}
	*[class^=colw-].res-m-20{width:20%;}
	*[class^=colw-].res-m-10{width:10%;}
}


@media all and (max-width: 480px){
	*[class^=colw-].res-s-100{width:100%;}
	*[class^=colw-].res-s-90{width:90%;}
	*[class^=colw-].res-s-80{width:80%;}
	*[class^=colw-].res-s-70{width:70%;}
	*[class^=colw-].res-s-66{width:66.666%;}
	*[class^=colw-].res-s-60{width:60%;}
	*[class^=colw-].res-s-50{width:50%;}
	*[class^=colw-].res-s-40{width:40%;}
	*[class^=colw-].res-s-33{width:33.333%;}
	*[class^=colw-].res-s-30{width:30%;}
	*[class^=colw-].res-s-25{width:25%;}
	*[class^=colw-].res-s-20{width:20%;}
	*[class^=colw-].res-s-10{width:10%;}

	html, body{
		height: auto;
		font-size: 4vw;
	}

	.flex{
		display: block;
	}

	.pad-35{
		padding: 20px;
	}

	.skills.pad-35,
	.exp.pad-35,
	.cl.pad-35{
		padding: 35px 20px;
	}

	.photobg .title{
		margin-top: 25px;
	}

	.skillslist{
		height: auto;
	}

	.fh{
		height: auto;
	}

}